*{
  box-sizing: border-box;
}
/*font-family: 'Fredericka the Great', cursive;
font-family: 'Life Savers', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Kranky', cursive;*/
a:link{
  text-decoration:none;
  color: inherit;
}


h1 {
color: #23423C;
text-align: center;
font-family: 'Kranky', cursive;
font-size: 40px;
background-color: rgba(159, 219, 112, 0.86);
border-radius: 20px 20px 10px 10px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  color: rgb(053,104,045);
  text-align: center;
}
h3{
  color: #23423C;
  font-size: 16px;
  text-align: center;
  font-family: 'Kranky', cursive;
}
body {
  margin: 10px 0px 0px 0px;
  background-image: url("images/fondo-mejorado.JPG");
  background-size: cover;
}

.icon {
  width: 30px;
}

.content {
  margin:30px 50px 10px 50px;
  padding: 10px;
}

.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mainCard {
  width: 25%;
  background-color: rgba(248, 255, 246, 0.70);
  font-family: 'Open Sans', sans-serif;
  color: #050f0d;
  padding: 15px;
}

.agreements  {
  margin-top: 200px;
  margin-bottom: 200px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 4px 6px 4px;
  background-color: rgba(252, 252, 247, 0.72);
  width: 40%;
}
.footer {
  width: 100%;
  height: 10vh;
  background-color: rgba(241, 241, 241, 0.6);
  display: flex;
  align-items:flex-end;
}

.icon-footer {
  align-items: flex-end;
}
