h1 {

color: #23423C;
text-align: center;
font-family: 'Shrikhand', cursive;
font-size: 40px;
background-color: rgba(159, 219, 112, 0.86);
border-radius: 20px 20px 10px 10px;
}

h2 {
  font-family: 'Shrikhand', cursive;
  color: rgb(053,104,045);
}
h3{
  color: #ffffff;
  font-size: 16px;
}
body {
  margin: 60px 50px 20px 50px;
  background-image: url("images/fondo.JPG");
  background-size: cover;
}
#contenido{
  margin:auto;
  padding: 10px;
}
#me {
  background-color: rgba(225, 242, 211, 0.6);
  color: rgb(0, 89, 1);
  font-family: sans-serif;

}
ul{
  font-size: 16px;
  color: rgb(053,104,045)rgb(48, 162, 2);
  background-color: rgba(225, 242, 211, 0.6);
}
p{
  background-color: rgba(252, 252, 247, 0.72);
}
a:link{
  text-decoration:none;
}
ul li {
  list-style-type: square;
}
.logo{
  width: 50px;
}
