.header{
  text-align: center;
  background-color: $green-transparent;
  border-radius: 0px 0px 10px 10px;
  padding-top: 15px;
}
.header h1{
  color: $greenToProbe;
  font-family: $title-font;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: $xl-text;
}
.icon{
  width: 30px;
}
.header-list{
  padding-bottom: 5px;
  display: flex;
  list-style: none;
  justify-content: center;
  color: $dark-green
}
.header-item-list{
  font-family: $title-font;
  font-size: $m-text;
  margin: 10px;
}
