.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.mainCard {
  width: 25%;
  background-color: $light-background;
  font-family: $normal-text-font;
  font-size: $m-text;
  color: $darken-color;
  padding: 15px;
}
