.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.mainCard {
  width: 25%;
  background-color: $light-background;
  font-family: $normal-text-font;
  font-size: $m-text;
  color: $darken-color;
  padding: 15px;
}

.mainCardHead{
  font-family: $title-font;
  color: $dark-green;
}
.agreements-title{
  font-family: $title-font;
  font-size: $m-text;
  color: $dark-green;

}
.agreements{
  margin-top: 200px;
  margin-bottom: 150px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 4px 6px 4px;
  background-color: rgba(252, 252, 247, 0.72);
  width: 40%;
  font-size: $s-text;
  color: darken-color;
}
