/*FONTS*/
/*font-family: 'Fredericka the Great', cursive;
font-family: 'Life Savers', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Kranky', cursive;*/
/*FONTS SIZE*/
/*COLORS*/
/* #1b4a05   --otro--rgb(35, 66, 60);*/
/*BACKGROUNDS COLORS*/
/*GENERAL*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  background: transparent; }

a:link {
  text-decoration: none;
  color: inherit; }

a:visited {
  color: inherit; }

.header {
  text-align: center;
  background-color: rgba(159, 219, 112, 0.86);
  border-radius: 0px 0px 10px 10px;
  padding-top: 15px; }

.header h1 {
  color: #1b4a05;
  font-family: "Kranky", cursive;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 45px; }

.icon {
  width: 30px; }

.header-list {
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1b4a05; }

.header-item-list {
  font-family: "Kranky", cursive;
  font-size: 20px;
  margin: 10px; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px; }

.content-main {
  padding-bottom: 100px; }

.mainCard {
  width: 25%;
  background-color: rgba(248, 255, 246, 0.7);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #010e03;
  padding: 15px; }

.mainCardHead {
  font-family: "Kranky", cursive;
  color: #1b4a05; }

.agreements-title {
  font-family: "Kranky", cursive;
  font-size: 20px;
  color: #1b4a05; }

.agreements {
  margin-top: 200px;
  margin-bottom: 150px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 4px 6px 4px;
  background-color: rgba(252, 252, 247, 0.72);
  width: 40%;
  font-size: 16px;
  color: #010e03; }

.footer {
  width: 100%;
  height: 27vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 255, 246, 0.7)), to(white));
  background: linear-gradient(rgba(248, 255, 246, 0.7), white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px; }

.footerInfo {
  font-family: "Kranky", cursive;
  font-size: 16px;
  color: #1b4a05;
  padding-top: 10px;
  margin-bottom: 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footerInfo h4 {
  margin-bottom: 0; }

.footerInfo p {
  margin-top: 0;
  margin-bottom: 10px; }

.footerIcons, .footerContact {
  margin-left: 10px;
  margin-right: 10px; }

.second-container {
  background-color: linear-gradient(white, rgba(248, 255, 246, 0.7));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.skills-intro {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  font-family: "Kranky", cursive;
  color: #1b4a05; }

.second-page-left,
.second-page-right,
.second-page-middle {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.second-page-middle {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.skill-text {
  font-size: 30px;
  font-family: "Kranky", cursive;
  color: #1b4a05;
  text-align: center; }

.thirt-container h1 {
  font-family: "Kranky", cursive;
  color: #1b4a05;
  font-size: 30px;
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }

.thirt-container {
  padding-top: 30px;
  padding-bottom: 0; }

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: white; }

.work-image {
  width: 100%;
  display: block; }

.BQ-Adalab,
.reXistance,
.comeJavaS,
.Adalovers,
.exercices {
  width: 30%;
  background-color: rgba(2, 52, 1, 0.94);
  margin: 20px;
  padding: 0;
  -webkit-transition: 0.5s linear 0s;
  transition: 0.5s linear 0s; }

.BQ-Adalab:hover,
.reXistance:hover,
.comeJavaS:hover,
.Adalovers:hover,
.exercices:hover {
  background-color: #045e02; }

.content-main {
  background-image: url("../images/fondo-mejorado-recorte.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -40px;
  background-attachment: fixed; }

.thirt-container {
  background-image: url("../images/froggy-forest.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-position: bottom; }

.hidden {
  display: none; }

.button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 15px;
  outline: none; }

/*# sourceMappingURL=styles.css.map */